.assortment__update-date {
  font-size: 12px;
  line-height: 17px;
  margin-top: -5px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #b1b6bb;
}

/* Interactions
   ========================================================================== */
.assortment__interactions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 20px;
}

.assortment__interactions > *:not(:first-child) {
  margin-left: 20px;
}

.assortment__select {
  flex-shrink: 0;
  width: 230px;
}

.assortment__switcher + label {
  flex-shrink: 0;
  width: 92px;
  margin-top: 10px;
}

.assortment__switcher + label::before {
  width: 92px;
}

.assortment__switcher + label::after {
  transform: translateX(-61px);
}

.assortment__place-chooser {
  flex-shrink: 0;
  width: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.assortment__place-chooser span {
  padding-left: 15px;
  background: url(../img/pin-icon.svg) no-repeat left 5px / 8px 12px;
}

.assortment__interaction-btn {
  width: auto;
  white-space: nowrap;
}


/* ==========================================================================
   Category block
   ========================================================================== */
.categories {
  box-sizing: border-box;
  margin-top: 20px;
  border: solid 1px #eaeeef;
  border-radius: 5px;
  background-color: #fff;
}

.categories__img {
  margin-bottom: 20px;
  padding-bottom: 69%;
  background: no-repeat center / cover;
}

.categories__heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin: 0 20px 9px;
  text-transform: uppercase;
  color: #282b34;
}

.categories__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.categories__list li {
  font-size: 14px;
  line-height: 16px;
  position: relative;
  color: #455056;
}

.categories__list li::before {
  position: absolute;
  right: 5px;
  bottom: 0;
  left: 5px;
  height: 1px;
  content: "";
  background-color: #eaeeef;
}

.categories__list li._is-open::before,
.categories__list li:nth-child(-n + 5):last-child::before {
  display: none;
}

/*.categories__list:not(.categories__list_full) li:nth-child(n + 6) {
  display: none;
}*/

.categories__list span {
  display: block;
  padding: 8px 60px 9px 20px;
}

.categories__list span.accordion-title {
  position: relative;
  cursor: pointer;
}

.categories__list [data-accordion] span.accordion-title::after {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 12px;
  height: 8px;
  content: "";
  transform: translateY(-50%);
  background: url(../img/category_arrow.svg) no-repeat center / contain;
}

.categories__list [data-accordion]._is-open span.accordion-title::after {
  transform: translateY(-50%) rotate(180deg);
}

.categories__list ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.categories__list ul li::before {
  left: 23px;
}

.categories__list input[type="checkbox"] {
  display: none;
}

.categories__list input[type="checkbox"] + label,
.categories__list .link[data-count] {
  position: relative;
  display: block;
  margin-right: 60px;
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 6px;
}

.categories__list input[type="checkbox"]:checked + label {
  color: #f89e01;
}

.categories__list input[type="checkbox"] + label::before,
.categories__list .link[data-count]::before,
.categories__list input[type="checkbox"]:not(:disabled) + label::after {
  position: absolute;
  content: "";
  background-color: #f89e01;
}

.categories__list input[type="checkbox"] + label::before,
.categories__list .link[data-count]::before {
  top: calc(50% - 5px);
  right: -41px;
  width: 2px;
  height: 10px;
}

.categories__list input[type="checkbox"]:checked + label::before,
.categories__list .link[data-count]::before {
  top: 1px;
  right: auto;
  bottom: 2px;
  left: -15px;
  width: 3px;
  height: auto;
}

.categories__list input[type="checkbox"] + label[onclick] {
  cursor: pointer;
}

.categories__list input[type="checkbox"]:checked:disabled + label::before,
.categories__list .link[data-count]::before {
  top: 0;
  bottom: 0;
}

.categories__list input[type="checkbox"] + label::after,
.categories__list .link[data-count]::after {
  top: calc(50% - 1px);
  right: -45px;
  width: 10px;
  height: 2px;
}

.categories__list input[type="checkbox"] + label[data-count]::after,
.categories__list .link[data-count]::after,
.categories__list .accordion-title[data-count]::after {
  font-size: 10px;
  line-height: 11px;
  position: absolute;
  top: 50%;
  right: -54px;
  box-sizing: border-box;
  width: auto;
  min-width: 28px;
  height: auto;
  padding: 1.5px 4px;
  content: attr(data-count);
  transform: translateY(-50%);
  text-align: center;
  color: #b1b6bb;
  border: solid 1px #eaeeef;
  border-radius: 8px;
}

.categories__list .accordion-title[data-count]::after {
  right: 6px;
}

.categories__show-more {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 0 10px;
  cursor: pointer;
  color: #f89e01;
  border: 0;
  background: none;
}

/* Assortment category
   ========================================================================== */
.assortment__category {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.assortment__category-name {
  display: flex;
  align-items: baseline;
}

.assortment__category-name h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #455056;
}

.assortment__category-name .accordion-title {
  font-size: 14px;
  line-height: 19px;
  margin-left: 10px;
  padding: 0;
  cursor: pointer;
  text-transform: none;
  color: #b1b6bb;
  border: 0;
  outline: 0;
  background: none;
  -webkit-appearance: none;
}

.assortment__category .accordion-content {
  width: 100%;
}

.assortment__categories {
  margin-top: 15px;
}

.assortment__categories.coming_soon {
  height: 391px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  color: #f89e01;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ==========================================================================
   Products
   ========================================================================== */
.assortment__products {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.assortment__products._grid-view {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -40px;
}

.category-item {
  position: relative;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 20px;
  border: solid 1px #eaeeef;
  border-radius: 5px;
  background-color: #fff;
}

._grid-view .category-item {
  display: block;
  width: calc(33.333% - 40px);
  min-width: 260px;
  margin-top: 20px;
  margin-left: 40px;
}

/*._is-minimized + .grid__column ._grid-view .category-item {
  width: calc(33.333% - 40px);
}*/

.category-item__badge {
  font-size: 14px;
  line-height: 19px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 10px;
  text-transform: uppercase;
  color: #fff;
  border-bottom-right-radius: 5px;
  background: #f89e01;
}

.category-item__img {
  flex-shrink: 0;
  width: 160px;
  height: 160px;
  margin-right: 20px;
}

._grid-view .category-item__img {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.category-item__img img {
  max-width: 100%;
  max-height: 100%;
}

.category-item__name {
  font-size: 20px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 0;
  color: #4a4a4a;
}

.category-item__type {
  font-size: 14px;
  line-height: 19px;
  margin-top: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #868d95;
}

.category-item__vendor-code {
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #868d95;
}

.category-item__type + .category-item__vendor-code {
  font-size: 16px;
  line-height: 22px;
  margin-top: 5px;
  text-transform: none;
  color: #7e8890;
}

.category-item__breadcrumbs {
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #7e8890;
}

.category-item__description {
  font-size: 16px;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 0;
  color: #7e8890;
}

.category-item__aside {
  min-width: 180px;
  margin-left: auto;
  text-align: right;
}

.category-item__aside_centered {
  width: 160px;
  text-align: center;
}

._grid-view .category-item__aside:not(.category-item__aside_centered) {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}

._grid-view .category-item__aside_centered {
  width: auto;
  margin-top: 10px;
}

.category-item__aside:not(.category-item__aside_centered) .button {
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  width: auto;
  color: #455056;
}

._grid-view .category-item__aside .button {
  margin-top: 10px;
}

.category-item__aside_centered .button {
  font-weight: 400;
  margin-top: 15px;
  color: #455056;
  box-shadow: inset 0 0 0 1px #b1b6bb;
}

.category-item__data {
  font-size: 14px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 0;
  color: #7e8890;
}

.category-item__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #565f64;
}

.category-item__counts {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #7e8890;
}

.category-item__counts span {
  font-weight: 400;
  color: #455056;
}

.category-item__count {
  font-size: 14px;
  line-height: 19px;
  margin-top: 5px;
  margin-bottom: 0;
  color: #7e8890;
}

.category-item__promo {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  margin-top: 5px;
  color: #f89e01;
}

/* ==========================================================================
   Assortment pagination
   ========================================================================== */
.assortment__pagination {
  text-transform: uppercase;
}


/* ==========================================================================
   Aside filter
   ========================================================================== */
.aside-filter {
  padding-top: 20px;
}

.aside-filter > *:first-child {
  margin-top: 0;
}

.aside-filter__caption {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #455056;
}

.aside-filter__list,
.producers-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.aside-filter__list li,
.producers-list li {
  font-size: 14px;
  line-height: 19px;
  margin-top: 5px;
  color: #b1b6bb;
}

.aside-filter__list li span,
.producers-list li span {
  font-weight: 600;
  padding-right: 16px;
  background: url(../img/aside-filter_list-item.svg) no-repeat right 4px / 8px 13px;
}

.aside-filter__show-all {
  font-size: 14px;
  line-height: 19px;
  display: block;
  margin-top: 3px;
  cursor: pointer;
  color: #f89e01;
}

.aside-filter__discard {
  font-size: 14px;
  line-height: 19px;
  position: relative;
  display: block;
  margin-top: 31px;
  text-decoration: none;
  color: #7e8890;
}

.aside-filter__discard::before {
  position: absolute;
  top: -11px;
  right: 0;
  left: 0;
  height: 1px;
  content: "";
  background-color: #7e8890;
}

.aside-filter__discard span {
  position: relative;
  padding-right: 16px;
  background: url(../img/aside-filter_discard.svg) no-repeat right 5px / 12px 12px;
}

