body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  width: 100%;
  min-width: 1280px;
  background-color: #f8f9fb;
}

body._is-fixed {
  /*overflow-y: hidden;*/
}

.body_fullscreen {
  overflow-y: hidden;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.link {
  text-decoration: none;
  color: #f89e01;
}

.hr {
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  background-color: #d5d5d5;
}

.main_white {
  background-color: #fff;
}


/* ==========================================================================
   Headings
   ========================================================================== */
.h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #455056;
}

.h3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #4a4a4a;
}


/* ==========================================================================
   Helpers
   ========================================================================== */
.relative {
  position: relative;
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  counter-reset: none;
}

.flex {
  display: flex;
  align-items: baseline;
}

.flex_start {
  align-items: flex-start;
}
