.producers__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  display: block;
  margin-bottom: 62px;
  color: #455056;
}

.producers .tns-controls {
  position: absolute;
  top: 50%;
  right: -20px;
  left: -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
  outline: none;
}

.producers .tns-outer {
  position: relative;
}

.producers .tns-outer [aria-controls] {
  font-size: 0;
  width: 10px;
  height: 18px;
  border: 0;
  background: no-repeat center / contain;
}

.producers .tns-outer [aria-controls][data-controls="prev"] {
  background-image: url(../img/producers_prev.svg);
}

.producers .tns-outer [aria-controls][data-controls="next"] {
  background-image: url(../img/producers_next.svg);
}

.producers__list > li {
}

.producers__list > li > img {
  width: auto;
  max-width: 220px;
  max-height: 90px;
}

.producers:not(.container) {
  margin-top: 20px;
}

.producers__more {
  width: auto;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 58px;
  padding-left: 58px;
}

.producers__cards {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.producers__cards_grid {
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: -40px;
}

.producers__card {
  display: flex;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #eaeeef;
}

.producers__cards_grid .producers__card {
  align-items: center;
  flex-direction: column;
  width: calc(33.333% - 40px);
  margin-top: 20px;
  margin-left: 40px;
  padding-top: 10px;
  text-align: center;
}

.producers__logo {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  width: 140px;
  height: 140px;
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #eaeeef;
}

.producers__cards_grid .producers__logo {
  margin-right: 0;
}

.producers__logo > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  transform: translate(-50%,-50%);
}

.producers__name {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.producers__name > b {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #4a4a4a;
}

.producers__name > b a {
  text-decoration: none;
  color: #4a4a4a;
}

.producers__recommendation {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  overflow: hidden;
  box-sizing: border-box;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  margin-left: 10px;
  padding: 4px 8px;
  transition: .4s;
  white-space: nowrap;
  text-transform: uppercase;
  color: rgba(255,255,255,0);
  border-radius: 12px;
  background: #f89e01 url(../img/producers__recommendation.svg) no-repeat calc(100% - 5px) center / 13px 11px;
}

.producers__recommendation:hover {
  max-width: 500px;
  padding-right: 24px;
  color: rgba(255,255,255,1);
}

.producers__location,
.producers__counts {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  text-transform: uppercase;
  color: #868d95;
}

.producers__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 19px;
  margin-left: -4px;
}

.producers__tags > li {
  margin-top: 4px;
  margin-left: 4px;
}

.producers__tag-link {
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  display: block;
  padding: 4px 8px;
  color: #7e8890;
  border-radius: 10px;
  background-color: #d9e2e7;
}

.producers__categories {
}

.producers__categories > li + li {
  margin-top: 20px;
}

.producers__category {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
  color: #455056;
}

.producers__subcategories {
  margin-top: 10px;
}

.producers__subcategories > li + li {
  margin-top: 8px;
}

.producers__subcategory {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none;
  color: #b1b6bb;
}

.producers__subcategory_active,
.producers__subcategory:hover {
  color: #f89e01;
}

.producers__pagination {
  margin-top: 20px;
  text-transform: uppercase;
}

.producers__not-found {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding-top: 220px;
  padding-bottom: 220px;
  text-align: center;
  color: #b1b6bb;
}

.producer {
  margin-top: 40px;
}

.producer > .producers__card {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

.producer .producers__cards .producers__card {
  width: calc(25% - 40px);
}

.producer > .producers__card .producers__logo {
  margin-right: 60px;
}

.producer > .producers__card .producers__name {
  margin-top: 0;
}

.producers__site {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.producer__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #455056;
}

.producer__description,
.producers > p {
  font-size: 18px;
  line-height: 24px;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #7e8890;
}

.producer__description p,
.producers > p {
  margin-top: 0;
  margin-bottom: 0;
}

.producer__description._is-minimized {
  max-height: 96px;
  padding-bottom: 24px;
}

.producer__description._is-minimized::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 24px;
  content: "";
  background-color: #fff;
}

.producer__expand {
  font-weight: 400;
  width: auto;
  margin-top: 6px;
  padding: 0;
  color: #b1b6bb;
  background: none;
}

._is-minimized .producer__expand {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0;
}

.producer > .producers {
  position: relative;
  overflow: hidden;
}

.producer > .producers._is-minimized {
  max-height: 506px;
  padding-bottom: 24px;
}

.producer > .producers._is-minimized::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 24px;
  content: "";
  background-color: #fff;
}
