input[aria-invalid=true], textarea[aria-invalid=true] {
    border-color: #a94442;
    box-shadow: inset 0 0 0 1px #a94442;
}

div.error-summary ul {
    list-style: none;
    padding: 0;
    font: 400 14px/19px "Open Sans",Helvetica,Arial,sans-serif;
    color: #a94442;
}

p.registration__checkbox.active label:hover {
    cursor: pointer;
    color: #565f64;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h2.huge {
    font-size: 72px;
}

label.addproduct-selectcategory {
    cursor: pointer;
}

form.search-input-form.w100 {
    width: 100%;
}

form.search-input-form .input {
    height: 50px;
}

a.layout-view__sort-link {
    white-space: nowrap;
}

.file-errors {
    font-size: smaller;
    color: #a94442;
    margin-top: 5px;
}

ul.dk-select-options {
    z-index: 100 !important;
}

.select .dk-option.dk-option-disabled {
    display: none;
}

.landing-promo__input-row > div.tt-scrollable-menu {
    width: 100%;
}

.landing-promo__input-row div.tt-menu {
    text-align: left;
}

.landing-promo__input-row input[type=search] {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}